*{
    /* outline: 1px dotted black; */
    text-align: center;
}

header {
    color: grey;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background: #ccc;
  }

h1, p{
    color: grey;
    background-color:#ccc;
    padding: 10px;
}

body {
    background-color: grey;
}

#nav {
    padding: 20px;
    margin: 5px 150px;
    color: grey;
    background-color: #ccc;
    clear: both;
}

#aside {
    color: grey;
    background-color:#ccc;
    padding: 20px;
    width: 30%;
    height: 200px;
    margin-top: 20px;  
    margin-right: 150px;
    margin-bottom: 20px;
    float: right;
    clear: right;
}

#full {
    color: grey;
    height: 200px;
    background-color:#ccc;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 40%;
    padding: 20px;
    float: left;
    clear: left;
}

#article {
    color: #ccc;
    padding: 20px;
    background-color: grey;
}

footer {
    color: grey;
    clear: both;
    background-color: #ccc;
    padding: 20px;
    margin: 20px 150px;
    
}